# Dependencies
node_modules

# SvelteKit / Vite build output
/.svelte-kit
/build

# Netlify adapter output
/.netlify

# OS files
.DS_Store

# Environment variables
.env
.env.*
!.env.example

# Vite timestamp files
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
