@font-face {
    /* font-family: VIC; */
    /* src: url(../Webfont/VIC-Regular.woff) format("woff"); */
    font-display: swap
}

:root {
    --yin: #F6F3F0;
    --yang: #392C26;
  }

  .yin { background-color: var(--yin)}
  .yang { background-color: var(--yang)}

* {
    /* font-size: 16px; */
    /* outline: 1px solid; */
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    font-family: "IBM Plex Sans", sans-serif;
    font-optical-sizing: auto;
}

html,
body,
#app {
    height: 100%;
    background: var(--yang);
}

body {
    width: 100vw;
    height: 100vh;
}

a {
    color: inherit;
	cursor: pointer;
    text-decoration: none;
}